<form>
    <div class="form-group">
      <label for="name">Book Name</label>
      <input type="text" class="form-control" id="bookName" placeholder={{givenBook.name}}>
    </div>
    <div class="form-group">
      <label for="year">Release Year</label>
      <input type="text" class="form-control" id="year" placeholder={{givenBook.year}}>
    </div>
    <div class="form-group">
        <label for="availability">Availability</label>
        <input type="text" class="form-control" id="availability" placeholder={{givenBook.availability}}>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>