
/* when all same style */
h1 
{
    color: red;
    background-color: yellow;
}

#id1
{
    color: maroon;
    background-color: cyan;
}

/* class when multiple same style */
.color-teal
{
    color: teal;
}
.colorBlue
{
    color: blue
}
.bg-blue
{
    background-color: blue;
}
